@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lato";
    src: local("Lato"), url(fonts/Lato-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Lato Bold";
    src: local("Lato Bold"), url(fonts/Lato-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Lato Italic";
    src: local("Lato Italic"), url(fonts/Lato-Italic.ttf) format("truetype");
  }
}

@layer components {
  .active {
    @apply block bg-primary rounded-md;
  }
  .width-side-content {
    width: calc(100% - 240px);
  }
  .width-side-content--collapsed {
    width: calc(100% - 80px);
  }
  .tooltip-position {
    left: calc(100% + 0.75rem + 0.5rem);
  }
  .pagination {
    @apply flex items-center justify-center;
  }
  .page-link-item {
    @apply block px-3 py-1 rounded text-gray-400;
  }
  .page-item.active a.page-link-item {
    @apply text-white;
  }
  .pagination .previous {
    @apply px-3;
  }
  .pagination .next {
    @apply px-3;
  }
  .pagination li.disabled {
    @apply cursor-not-allowed;
  }
}
